  .div-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin: 4.5rem 0 4rem 0;
    border-right: solid 2px var(--color-orange-dark);
  }
 
  // @media (max-width: 576px){

  //   .form-group {
  //     width: 100%;
  //     border-right: none;
  //     border-bottom: solid 2px var(--color-orange-dark);
      
  //   }
  // }

  // @media (max-width: 1600px) {
  //   .form-ges {
  //     width: 90%;
  //     border-right: solid 2px var(--color-orange-dark);
  //   }
  // }

  
  .input-form {
    width: 90%;
    margin: 1rem;
  }
  
  label {
    margin-left: 1.1rem;
  }

  .preview-card {
    margin: 7rem auto 0;
    width: 40%;
    height: 30rem;
    padding: 1rem;
    }
  