<footer class="footer d-flex">
    <nav>
        <p>Síguenos en:</p>
        <div class="footer__container">
            <a href="#"><strong>Facebook</strong></a>
            <a href="#" class="margin"><strong>Twitter</strong></a>
            <a href="#" class="marginIns"><strong>Instagram</strong></a>
            <a href="#"><strong>TikTok</strong></a>
        </div>
    </nav>
    <p class="footer__copy">Copyright Shopéame &copy; {{today | date:'yyyy'}}</p>

</footer>