.footer{
    background-color: var(--color-grey);
    height: 280px;
    min-width: 320px;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    color: var(--color-white);
    line-height: 143%;

    nav {
        display: flex;
        flex-direction: column;
        height: 70px;
        margin: 50px 0 37px 0;
    }

    &__container{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        
        a {
           color: var(--color-white);
           width: 8rem;
           text-align: center;
           text-decoration: none;
        }
        .margin{
            width: 8rem;
            border-left: solid 1px var(--color-white);
            border-right: solid 1px var(--color-white);
        }
        .marginIns{
            width: 8rem;
            border-right: solid 1px var(--color-white);
        }
    }
    &__copy {
        margin-top: 3rem;
    }
}
